<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumSuite">
    <test name="DemoTestRun">
        <classes>
            <class name="com.selenium.DemoTest"/>
        </classes>
    </test>

     <test name="AmazonTests">
        <classes>
            <class name="com.selenium.amazon.AmazonSearchTest"/>
        </classes>
    </test>

</suite>
